---
import { LuLinkedin , LuGithub} from "react-icons/lu";
---
<footer>
    <div class="flex flex-row justify-around py-20">
        <p>© 2025 Mohamed Farouk Ben Haj Amor. All rights reserved.</p>
        <div class="flex flex-row gap-5">
            <a  href="https://www.linkedin.com/in/mohamed-farouk-ben-haj-amor/"
            ><LuLinkedin size=20 /></a>
            <a href="https://github.com/FaroukBenHaj"
            ><LuGithub size=20 /></a>
        </div>
    </div>
</footer>