---
import ProfessionalSection from '@/components/ProfessionalSection/index.astro';
import HeroSection from '@/components/HeroSection/index.astro';
import Layout from '@/layouts/Layout.astro';
import TechStack from '@/components/TechStack/index.astro';
import AboutPage from '@/components/AboutSection/index.astro';
import ProjectSection from '@/components/ProjectSection/index.astro';
import FooterSection from '@/components/FooterSection/index.astro';
import CertificateSection from '@/components/CertificateSection/index.astro';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<HeroSection/>
	<div class="max-w-[320px] sm:max-w-[640px] md:max-w-[800px]  lg:max-w-[1440px] xl=max-w-[1200px] m-auto flex flex-col gap-30 pb-10" >
		<AboutPage/>
		<ProfessionalSection/>
	</div>
	<div class="bg-ring/10  my-10 py-20">
		<div class="max-w-[320px] sm:max-w-[640px] md:max-w-[800px]  lg:max-w-[1440px] xl=max-w-[1200px] m-auto">
			<TechStack/>
		</div>
	</div>
		<div class="max-w-[320px] sm:max-w-[640px] md:max-w-[800px]  lg:max-w-[1440px] xl=max-w-[1200px] m-auto flex flex-col gap-20 ">
			<ProjectSection/>
			<CertificateSection/>
		</div>
		<div class="bg-ring/10 mt-10">
			<FooterSection/>
		</div>
</Layout>
