---
import { getCollection } from 'astro:content';
const skills = await getCollection("skills");
import{H2} from '@/components/ui/typography';
---
<section class="text-center flex flex-col gap-15 py-10">
    <H2 header="TechStack"/>
    <div class="flex flex-wrap  gap-5 justify-center">
        {skills.map((skill)=>(
            <img class="md:max-w-30 md:max-h-30 max-w-20 max-h-20 " src={skill.data.media.logo} alt={skill.data.media.alt} />
        )
        )}

    </div>
</section>