---
import { Button } from "./ui/button";
---
<section id="aboutMe" class="flex md:flex-row flex-col gap-1">
    <div class="flex flex-col">
        <h1 class="text-4xl font-bold flex-1"
        >About Me </h1>
        <p>
           👋 Hi, I’m Mohamed Farouk — a Software Engineering student at *Esprit*, based in Tunisia.  
            I specialize in **software architecture and web development**, with a strong interest in building scalable applications and exploring how AI can transform user experiences.
            Beyond coding, I value teamwork, continuous learning, and creating solutions that make a real impact.  
            I’m currently seeking opportunities to grow as a developer and contribute to exciting projects.    
        </p>
        <Button 
        variant="outline"
        >
            🚀 Let’s connect and build something great together!
        </Button>
    </div>
    <div >
        image
    </div>
</section>