---
import { getCollection } from 'astro:content';

const generals = await getCollection("generals");
const generalInfo = generals[0];

---


<div id="container">
	<img id="background"  alt="" fetchpriority="high" />
	<main>
		<section id="hero">
				<h1>{generalInfo.data.fullName}</h1>
				<h2>{generalInfo.data.uni}</h2>
				<h2>{generalInfo.data.description}</h2>
		</section>
	</main>
</div>