---
import { getCollection } from 'astro:content';
const generals = await getCollection("generals");
const generalInfo = generals[0];

---


<div id="container">
	<img id="background"  alt="" />
	<main>
		
		<section id="hero">
				<p>{generalInfo.data.description}</p>
				<h1>{generalInfo.data.jobName}</h1>
				<p>{generalInfo.data.country}</p>
		</section>
	</main>
</div>